@media print {
  table {
    width: 100%;
    font-size: 8px;
  }

  th,
  td {
    padding: 2px;
    border: 1px solid #000;
  }

  input {
    display: none;
  }

  article {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }
}